img,
video,
button {
  display: block;
}


#img-to-proscess {
    visibility: hidden;
}

.whitelink {
    color: white;
    text-decoration-line: none;
    text-decoration: none;
}

.whitelink:hover {
    text-decoration: none;
    color: white;
}

.videoelement {
    padding-top: 5%;
}

.dashboard {
    padding-top: 30%;
}

.directvideo {
    overflow: hidden;
}

#img-to-proscess {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    object-fit: cover;
}

#what-the-ai-sees {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}